* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(247, 242, 242);
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.item1 {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-between;

    box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
    -webkit-box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
    -moz-box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
}


.item2 {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;

    box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
    -webkit-box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
    -moz-box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
}

.item3 {
    width: 200px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-between;

    box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
    -webkit-box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
    -moz-box-shadow: 1px 2px 13px 3px rgba(127,117,117,0.94);
}

.square1 {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 8px;
    align-self: flex-end;
}

.square2, .square3, .square4, .square7 {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 8px;
}

.square5 {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 8px;
    align-self:flex-end;
}

.square6 {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 8px;
    align-self: center;
}

